<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
    <label for="text">Text</label>
    <input type="text" name="text" [(ngModel)]="text" placeholder="Add Text">
    </div>
    <div class="form-control">
    <label for="text">Day and Time</label>
    <input type="text" name="day" [(ngModel)]="day" placeholder="Add Day and Time">
    </div>
    <div class="form-control form-control-check">
    <label for="text">Reminder</label>
    <input type="checkbox" name="reminder" [(ngModel)]="reminder">
    </div> 
    <input type="submit" value="submit" class="btn btn-block">
</form>